<h2>Show Bot</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @bot.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @bot.description %>
  </li>

</ul>

<span><%= link "Edit", to: bot_path(@conn, :edit, @bot) %></span>
<span><%= link "Back", to: bot_path(@conn, :index) %></span>
